<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('templates/Header'); -%>
    <%- include('templates/Button', { name: 'hello' }); -%>
    <ul id='people'></ul>
    <%- include('templates/Footer'); -%>
    <script src="/js/app.js"></script>
  </body>
</html>
